<h1>Editing meeting</h1>

<%= render "form", meeting: @meeting %>

<br>

<div>
  <%= link_to "Show this meeting", @meeting %> |
  <% if current_user.admin? %>
    <%= link_to "Back to Dashboard", admin_root_path %>
  <% else %>
    <%= link_to "Back to Dashboard", user_root_path %>
  <% end %>
</div>
