<!DOCTYPE html>
<html lang="en">
<head>
  <title>Ninkatec</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h1>Medical Information</h1>     
  <div class="row">
    <div class="col-sm-2">
      <form>
      	<label for="height"><u>Height:</u></label><br>
      	<input type="text" id="height" name="height" placeholder="/cm" style="text-align: right"><br>
      </form>
    </div>
    <div class="col-sm-2">
      <form>
        <label for="weight"><u>Weight:</u></label><br>
        <input type="text" id="weight" name="weight" placeholder="/Kg" style="text-align: right">
      </form>
 	</div>
    


    <div class="col-sm-12">
    <br>
    <p><u>Medical Conditions</u></p>
      <form>
        <input type="radio" id="dementia" name="med_cond" value="Dementia">
        <label for="dementia">Dementia</label>
        <input type="radio" id="stroke" name="med_cond" value="Stroke">
        <label for="stroke">Stroke</label>
        <input type="radio" id="cancer" name="med_cond" value="Cancer">
        <label for="cancer">Cancer</label>
        <input type="radio" id="fracture" name="med_cond" value="Fracture">
        <label for="Fracture">Fracture</label>
        <input type="radio" id="Parkinsons" name="med_cond" value="Parkinsons">
        <label for="Parkinsons">Parkinsons</label><br><br>
        <label for="others">Others:</label>
        <input type="text" id="others" name="med_cond" placeholder="Please Fill" style="font-style:italic">
        
      </form>
    </div>
    <div class="col-sm-12">
      <br>
      <p><u>Medication</u></p>
      <input type="text" style="width: 500px;height:150px" id="others" name="med_cond" placeholder="Antihistamines/Ibuprofen/Antacids" style="text-align:center">
      <br>
      <br>
      <p><u>Has the patient recently been admitted into Hospital?</u></p>
      <label for="hospital_recent_y">Yes: </label>
      <input type="radio" id="Yes" name="hospital_recent_y" value="Yes">
      <label for="hospital_recent_n">No: </label>
      <input type="radio" id="No" name="hospital_recent_n" value="No">
      <p><i>If yes, please upload the relevant discharge summar (optional)</i></p>
      <form action="/action_page.php">
        <input type="file" id="myFile" name="filename">
        <br>
        <input type="submit">
      </form>
      <br>
    </div>
    <div class="container">
      	<div class="row">
            <div class="col-xs-16">
                <div  class="text-center">
                	<div>
                    <button type="submit" class="btn btn-info">Save</button>
                    
                    <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </div>
            </div>
        </div>
  </div>
</div>
    
</body>
</html>
