/* This is a manifest file that'll be compiled into application.css, which will include all the files listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the compiled file so the styles you add here take precedence over styles defined in any other CSS files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */

 :root {
    --linear-grad: linear-gradient(to right, #141E30, #243B55);
    --grad-clr1: #141E30;
    --grad-clr2: #243B55;
}

h1 {
    color: #253255;
    margin-top: 0.5em;
    padding: 0;
}

.nav-btn {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    margin-right: 2em;
}

.nav-lg-btn {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    margin-right: 2em;
}

.btn-green {
    color: white;
    border: 1px solid green;
    background-color: green;
    width: 7em;
    margin-top: 0.5em;
}

.btn-green:hover {
    color: green;
    border: 1px solid green;
    background-color: white;
    width: 7em;
    margin-top: 0.5em;
}

.btn-outline-green {
    color: rgb(107, 124, 107);
    border: 1px solid rgb(107, 124, 107);
    background-color: white;
    width: 7em;
    margin-top: 0.5em;
}

.btn-outline-green:hover {
    color: rgb(107, 124, 107);
    border: 1px solid rgb(107, 124, 107);
    background-color: white;
    width: 7em;
    margin-top: 0.5em;
}

.btn-blue {
    color: white;
    border: 1px solid #253255;
    background-color: #253255;
    width: 7em;
    margin-top: 0.5em;
}


.btn-blue1 {
    color: white;
    border: 1px solid #253255;
    background-color: #253255;
    width: auto;
    margin-top: 0.5em;
}


.btn-red {
    color: white;
    border: 1px solid #a80000;
    background-color: #a80000;
    width: 7em;
    margin-top: 0.5em;
}

.btn-blue:hover {
    color: #253255;
    border: 1px solid #253255;
    background-color: white;
    width: 7em;
    margin-top: 0.5em;
}

.btn-outline-blue {
    color: #253255;
    border: 1px solid #253255;
    background-color: white;
    width: 7em;
    margin-top: 0.5em;
}


.btn-outline-blue1 {
    color: #253255;
    border: 1px solid #253255;
    background-color: white;
    width: auto;
    margin-top: 0.5em;
}

.btn-outline-red {
    color: #a80000;
    border: 1px solid #a80000;
    background-color: white;
    width: 7em;
    margin-top: 0.5em;
}

.btn-outline-blue:hover {
    color: white;
    border: 1px solid #253255;
    background-color: #253255;
    width: 7em;
    margin-top: 0.5em;
}


.btn-outline-blue1:hover {
    color: white;
    border: 1px solid #253255;
    background-color: #253255;
    width: auto;
    margin-top: 0.5em;
}

.btn-outline-red:hover {

    color: white;
    border: 1px solid #a80000;
    background-color: #a80000;
    width: 7em;
    margin-top: 0.5em;
}

.btn-outline-save {
    color: #7c7d7e;
    border: 1px solid #7c7d7e;
    width: 7em;
    margin-top: 0.5em;
}

.btn-outline-save:hover {
    color: white;
    border: 1px solid #7c7d7e;
    background-color: #7c7d7e;
}

.btn-outline-black {
    color: black;
    border: 1px solid black;
    width: 7em;
    margin-top: 0.5em;
}

.btn-outline-black:hover {
    color: white;
    border: 1px solid black;
    background-color: black;
}


.boxhome {
    display: flex;
    flex-direction: column;
    height: 30em;
    width: 25em;
    border-radius: 5%;
    justify-content: center;
    text-align: left;
    margin: auto;
    margin-top: 1.5em;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.5);
    align-items: stretch;
}

.steps {
    display: flex;
    justify-content: center;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.page {
    display: flex;
    border: none;
    outline: none;
    justify-content: space-between;
    width: 70vh;
    margin-top: 5%;
}

.numbers-active { 
    width: 50px; 
    line-height: 50px; 
    border-radius: 50%; 
    text-align: center; 
    background-color: var(--grad-clr2); 
    color: white; 
}

.numbers-not-active { 
    width: 50px; 
    line-height: 50px; 
    border-radius: 50%; 
    text-align: center; 
    border: 1px solid var(--grad-clr1);
    color: black; 
}

.dash {
    display: flex;
    justify-content: center;
    align-items: center;
}

  .custom-submit-button {
    border-radius: 5px;
    border: 2px solid #253255; /* Custom border color */
    padding: 10px;
    background-color: #253255; /* Custom background color */
    color: white; /* Custom text color */
    width: 100%;
    cursor: pointer;
  }

  .custom-submit-button:hover {
    background-color: #253255; /* Custom background color on hover */
  }

/* Videos */
.box {
    display: inline-flex;
    flex-direction: column;
    height: 120vh;
    width: 70vh;
    border-radius: 5%;
    justify-content: center;
    text-align: center; 
    margin: auto;
    margin-top: 1em;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.5);
}


.box-video {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width:100vh;
    border-radius: 5%;
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-top: 1em;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.5);
}

.video-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box button {
    display: flex;
    justify-content: center;
    width: 25vh;
    margin: auto;
}

.video-preview {
    text-align: center;
    height: 300px;
}

/* Photos */
.box1 {
    display: flex;
    flex-direction: column;
    /* height: 66vh;
    width: 80vh; */
    /* border: black solid 0.25em;
    border-radius:3.5em; */
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-top: 1em;
}

.circular-button {
    border-radius: 50%;  /* Makes the button round */
    width: 40px;         /* Width of the button */
    height: 40px;        /* Height of the button, equal to the width to make it a perfect circle */
    padding: 0;          /* Removes padding to avoid content overflow */
    display: flex;       /* Ensures the content is centered */
    align-items: center; /* Centers content vertically */
    justify-content: center; /* Centers content horizontally */

}
.circular-button:hover {
    border-radius: 50%;  /* Makes the button round */
    width: 40px;         /* Width of the button */
    height: 40px;        /* Height of the button, equal to the width to make it a perfect circle */
    padding: 0;          /* Removes padding to avoid content overflow */
    display: flex;       /* Ensures the content is centered */
    align-items: center; /* Centers content vertically */
    justify-content: center; /* Centers content horizontally */

}

.btn-selected {
    color: white;
    background-color: #253255;

    border-radius: 50%;  /* Makes the button round */
    width: 40px;         /* Width of the button */
    height: 40px;        /* Height of the button, equal to the width to make it a perfect circle */
    padding: 0;          /* Removes padding to avoid content overflow */
    display: flex;       /* Ensures the content is centered */
    align-items: center; /* Centers content vertically */
    justify-content: center; /* Centers content horizontally */
}
.btn-outline-save {
    color: white;
    border: 1px solid #04AA6D;
    background-color: #04AA6D;
    width: 7em;
    margin-top: 0.5em;
}

.btn-outline-save:hover {
    color: #04AA6D;
    background-color: white;
    border: 1px solid #04AA6D;
}

.rounded-video {
    border-radius: 15px;
    overflow: hidden;
}
.video-preview {
    margin-top: 20px;
    text-align: center;

}

.event-dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #4CAF50; /* Green color, adjust as needed */
    display: inline-block;
    cursor: pointer;
    position: relative;
  }
  
  .event-dot:hover::after {
    content: attr(data-meeting-title);
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent black background */
    color: white;
    padding: 5px;
    border-radius: 5px;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    display: none;
  }
  
  .event-dot:hover::after {
    display: block;
  }

  .custom-link {
    width: 140px;
    height: 20px; /* Adjust height to match width for a perfect square */
    background-color: #4CAF50; /* Green color, adjust as needed */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    border-radius: 8px; /* Rounded corners */
    text-decoration: none; /* Remove underlines */
  }
  
  .custom-link:hover {
    background-color: #45a049; /* Darker green on hover, adjust as needed */
  }
  
  .custom-link span {
    padding: 10px; /* Padding inside the square */
  }

  .assessment-circle {
    position: relative;
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
  }

  .assessment-circle::after {
    content: attr(data-tooltip); /* Show value as tooltip */
    position: absolute;
    background: rgba(0,0,0,0.6);
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    top: calc(100% + 5px); /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0; /* Hide initially */
    transition: opacity 0.3s ease; /* Smooth transition */
    z-index: 999;
    font-size: 12px; /* Adjust tooltip font size as needed */
    max-width: 500px;
    overflow-x: auto
  }
  
  .assessment-good {
    background-color: #28a745; /* Green for true */
    color: white; /* Text color */
  }

  .assessment-circle:hover::after {
    opacity: 1; /* Show tooltip on hover */
  }
  
  .assessment-poor {
    background-color: #dc3545; /* Red for false */
    color: white; /* Text color */
  }
  
  .assessment-fair {
    background-color: #28e6ff; /* Yellow for pending */
    color: black; /* Text color */
  }
  
  .assessment-detailed {
    background-color: #ffc107; /* Gray for inactive */
    color: white; /* Text color */
  }

  .assessment-nil {
    background-color: #7f7f7f; /* Gray for inactive */
    color: white; /* Text color */
  }
